body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(200, 198, 100, 0.7);
}
button{
    background: blue;
    color: white;
    width: 250px;
    height: 80px;
}
button:hover{
    background-color: green;
}
